@use "../variables" as *;
@use "../mixin" as *;

.five-hour {
  h3 {
    margin: 2em 0 1.5em 0;
    text-align: center;
  }

  .five-hour-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    text-align: center;
    .grid-item {
      background-color: $card-background;
      padding: 1em 4em;
      border-radius: 5px;
      p {
        margin: 1em 0;
      }
    }
  }
}
