@use "../variables" as *;
@use "../mixin" as *;

.five-hour {
  .heading-container {
    @include flexBox(space-between);
    margin: 2em 0 1.5em 0;

    p {
      font-size: 1.2rem;
      color: #ffffffc5;
      cursor: pointer;
    }
  }

  .five-hour-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    place-items: center;
    text-align: center;
    .grid-item {
      @include flexBox();
      background-color: $card-background;
      padding: 1em 2em;
      border-radius: 10px;
      p {
        margin: 1em;
      }
    }
  }

  // Media Queries
  @include breakpoint(500px) {
    .five-hour-grid {
      .grid-item {
        display: block;
      }
    }
  }

  @include sm {
    .heading-container {
      h3 {
        text-align: left;
        margin-top: 1.5em;
      }
    }

    .five-hour-grid {
      gap: 13px;
      place-items: initial;
      .grid-item {
        padding: 1em 0;
        transition: 0.3s;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
        p {
          margin: 0.5em 0;
        }
      }
    }
  }
}
