@use "../variables" as *;
@use "../mixin" as *;

.five-days {
  margin: 5%;

  h3 {
    margin: 3.5em 0 1em 0;
    text-align: center;
  }
  .grid-item {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;

    .grid-sub {
      font-size: 1rem;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.596);
    }
  }
}
