@use "../variables" as *;
@use "../mixin" as *;

.five-hour {
  h3 {
    margin: 2em 0 1.5em 0;
    text-align: center;
  }

  .five-hour-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    place-items: center;
    text-align: center;
    .grid-item {
      @include flexBox();
      background-color: $card-background;
      padding: 1em 2em;
      border-radius: 5px;
      p {
        margin: 1em;
      }
    }
  }

  @include sm {
    h3 {
      text-align: left;
      margin-top: 3em;
    }

    .five-hour-grid {
      gap: 10px;
      place-items: initial;
      .grid-item {
        @include flexBox($direction: column);
        padding: .5em 1.5em;
        transition: .3s;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
        }
        p{
          margin: .5em;
        }
      }
    }
  }
}
