@use "../variables" as *;
@use "../mixin" as *;

.footer{
    text-align: center;
    margin-top: 2em;
    padding: 3%;
    background-color: $card-background;

    p{
        @include flexBox;
    }

    @include sm{
        padding: 2%;
        font-size: 1.3rem;   
    }
}