@use "../mixin.scss" as *;
@use "../utilities.scss" as *;
@use "../variables" as *;

.navbar {
  @include flexBox(space-between);
  margin: 0.5em;

  .search-bar {
    @include flexBox($justify: flex-start);

    input {
      background: $primary-background;
      border: transparent;
      height: 2em;
      border-radius: 5px;
      outline: none;
      padding-left: 0.5em;
      caret-color: white;
      color: white;

      &::placeholder {
        color: #ffffffb4;
        padding-left: 0.5em;

        font-size: 1rem;
      }
    }
    button {
      background: none;
      color: white;
      outline: none;
      border: none;
      margin: 0;
    }
  }
  .navigation {
    display: none;
  }

  .mobile-navigation {
    .mobile-navigation-links {
      position: absolute;
      top: clamp(20px, 2.8em, 500px);
      right: 0%;
      background-color: rgba(27, 27, 27, 0.911);
      width: 100%;

      .nav-links {
        padding: 1em 0;
        *:not(:first-child) {
          padding: 1em 0.2em 0.5em 1em;
          cursor: pointer;
        }

        .search-bar {
          padding: 1em;
          padding-bottom: 0;
        }
      }
    }
  }

  @include sm {
    .mobile-navigation {
      display: none;
    }

    .navigation {
      display: block;

      .nav-links {
        display: flex;
        flex-direction: row-reverse;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;

        * {
          padding: 0.5em;
          border-radius: 10px;
        }

        *:not(:first-child) {
          cursor: pointer;
          transition: 0.3s;
          margin: 0 0.5em;

          &:hover {
            background-color: white;
            color: #3c68df;
          }
        }
      }

      .search-bar {
        button {
          cursor: pointer;
        }
      }
    }
  }
}
