@use "../mixin" as *;
@use "../variables" as *;

.today-weather {
  @include flexBox($direction: column);
  margin: 1em 0;

  .location {
    text-align: center;
    margin: 1em 0;

    h1 {
      margin: 0.1em 0;
    }
  }

  .today-temp {
    @include flexBox($direction: column);
    text-align: center;
    margin: 1em 0;

    h1 {
      @include flexBox();
      margin: 0.1em 0;

      @include sm {
        font-size: 6rem;
      }
    }
  }

  .today-temp-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 2em 0;
    align-items: center;

    .temp-grid-item {
      text-align: center;

      .grid-main {
        margin: 0.2em 0;
      }
      .grid-sub {
        font-size: 0.9rem;
        color: #ffffff8e;
      }
    }
  }

  //Media-Query

  @include sm {
    @include flexBox($align: flex-start, $direction: column);
    margin: 0 20%;

    .location {
      text-align: initial;
      p {
        font-size: 1.2rem;
      }

      h1 {
        font-size: 2.5rem;
      }
    }

    .today-info-container {
      @include flexBox(space-between);
      .today-temp {
        @include flexBox($align: initial, $direction: column);
        border-right: 1px solid white;
        padding-right: 3em;
        text-align: left;
        h1 {
          font-size: 8rem;
        }
      }
      .today-temp-grid {
        padding-left: 3em;
      }
    }
  }
}
